/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
}

.title {
  height: 100px;
  background-image: url(randomFrame.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%, 50%;
  /* transform: scale(1.3); */
  padding: 50px 0 50px 0;
  border-bottom: 2px solid gray;
}

.logo {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 1px 0px 50px #342702;
  margin-left: 15%;
  animation: fadeInAnimation ease 1s;
}

@media only screen and (max-width: 700px) {
  .title {
    height: 30px;
  }
  .logo {
    margin-left: 0;
    height: 175px;
    width: 175px;
  }
  .leftBox {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    text-align: center;
  }
  .logo {
    margin-left: 0;
  }
  .title-box {
    pointer-events: none;
  }
}

@media only screen and (max-width: 1500px) {
  body .one-line {
    display: block;
  } 

  body .leftBox {
    display: block;
    margin-right: 15%;
  }
  
  body .rightBox {
    display: block;
    margin-left: 15%;
  }

  body .photo1 {
    display: block;
    float: none;
    margin: auto;
  }
  body .photo2 {
    display: block;
    float: none;
    margin: auto;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomInAnimation {
  0% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}

.title-info-box {
  height: 100px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(90, 60, 7);
  border-radius: 6px;
  float: right;
  backdrop-filter: blur(5px);
  margin-right: 15%;
  margin-top: 25px;
  animation: zoomInAnimation 2s ease;
}

.info-box-info {
  font-size: 25px;
  margin-top: 20px;
  line-height: 30px;
  text-align: center;
}

.leftBox {
  height: auto;
  width: auto;
  background-color: #534404;
  color: white;
  border-radius: 15px;
  align-self: center;
  margin-top: 34px;
  margin-left: 15%;
  /* margin-right: 15%; */
  margin-right: 40px;
  box-shadow: 1px 0px 20px #342702;
  /* display: block; */
}

.leftBoxHeader {
  font-size: 40px;
  text-align: left;
  padding: 40px 0px 0px 40px;
}

.leftBoxContent {
  font-size: 25px;
  padding: 20px 40px 0px 40px;
  line-height: 30px;
  margin-bottom: 40px;
}

.photo1 {
  height: 4in;
  width: 6in;
  margin-right: 15%;
  float: right;
  align-self: center;
  border-radius: 15px;
  box-shadow: 1px 0px 20px #342702;
}

.one-line {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}

.photo2 {
  height: 4in;
  width: 6in;
  margin-left: 15%;
  float: left;
  align-self: center;
  border-radius: 15px;
  box-shadow: 1px 0px 20px #342702;
}

.rightBox {
  height: auto;
  width: auto;
  background-color: #534404;
  color: white;
  border-radius: 15px;
  align-self: center;
  margin-left: 40px;
  margin-right: 15%;
  box-shadow: 1px 0px 20px #342702;
}

.rightBoxHeader {
  font-size: 40px;
  text-align: left;
  padding: 40px 0px 0px 40px;
}

.rightBoxContent {
  font-size: 25px;
  padding: 20px 40px 0px 40px;
  line-height: 30px;
  margin-bottom: 40px;
}

.contact {
  margin-top: 120px;
  width: 100%;
  height: 200px;
  background-color: #534404;
  color: white;
  border-radius: 10px;
}

.contact-box {
  padding-top: 40px;
}

.contact-header {
  margin-top: 10px;
  font-size: 50px;
  text-align: center;
}

.designer-footer {
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
}
