body {
  margin: 0px;
}

.title {
  height: 100px;
  background-image: url(randomFrame.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%, 50%;
  padding: 50px 0 50px 0;
  border-bottom: 2px solid gray;
  animation: fadeInAnimation ease 3s;
}

@media only screen and (max-width: 500px) {
  .title {
    height: 30px;
    /* size: 100px; */
  }
}
@media only screen and (max-width: 1000px) {
  .title {
    text-align: center;
  }
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
   }
}
