body {
  margin: 0px;
}

.title {
  height: 100px;
  size: 100px;
  background-image: url(randomFrame.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%, 50%;
  padding: 50px 0 50px 0;
  opacity: .5;
  text-align: center;
}
