/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
}

.title {
  height: 100px;
  background-image: url(randomFrame.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%, 50%;
  padding: 50px 0 50px 0;
  border-bottom: 2px solid gray;
}

.logo {
  height: 200px;
  width: 200px;
  border-radius: 15px;
  box-shadow: 1px 0px 50px #342702;
  margin-left: 15%;
  animation: fadeInAnimation ease 1s;
}

@media only screen and (max-width: 500px) {
  .title {
    height: 30px;
  }
  .logo {
    margin-left: 0;
    height: 175px;
    width: 175px;
  }
}
@media only screen and (max-width: 1000px) {
  .title {
    text-align: center;
  }
  .logo {
    margin-left: 0;
  }
  .title-box {
    pointer-events: none;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes zoomInAnimation {
  0% {
    transform: scale(0.8, 0.8);
  }
  100% {
    transform: scale(1, 1);
  }
}

.title-info-box {
  height: 100px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(90, 60, 7);
  border-radius: 6px;
  float: right;
  backdrop-filter: blur(5px);
  margin-right: 15%;
  margin-top: 25px;
  animation: zoomInAnimation 2s ease;
}

.info-box-info {
  font-size: 25px;
  margin-top: 20px;
  line-height: 30px;
  text-align: center;
}

.leftBox{
  height: 250px;
  width: 400px;
  background-color: #59450e;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: 50px;
}

.leftBoxText {
  font-size: 25px;
  text-align: left;
  padding: 20px 0px 0px 15px;
}
